@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --textcol-1: #201f20;
  --textcol-2: #5a5859;
  
  --gray-1: #e7e1e6;
  --gray-2: #f1ebf1;
  --secondary: #0F8B8D;
  --primary: #ed96f0;
  --light-primary: #eaa8ee;
  
  --gray-3: #cac6c9;
  --border: 2px solid var(--gray-3);
  
  font-size: 18px;
  color: var(--textcol-1);
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 70px clamp(70px, 10vh + 15px, 90px) 1fr;
}

.icon {
  width: 30px;
}

.avatar {
  width: 50px;
  border: 2px solid var(--primary);
  border-radius: 25px;
  background-color: var(--primary);
}

h3 {
  font-size: 1.3rem;
}

button:hover {
  cursor: pointer;
}


/* Logo */

.logo {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  padding-left: 15px;
  gap: 10px;
}

.logo img {
  justify-self: end;
}

.logo,
.sidenav,
.sidenav a {
  color: var(--textcol-1);
  background: linear-gradient(90deg, rgba(237, 150, 240, 1) 60%, rgba(236, 117, 215, 1) 100%);
  z-index: 3;
}

/* side navbar */

.sidenav a {
  background: none;
  text-decoration: none;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 15px;
}

.sidenav a:hover {
  transform: scale(1.03);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
  width: max-content;
}

.sidenav {
  grid-area: 2 / 1 / 4 / 2;
}

.sidenav li {
  font-size: 20px;
  font-weight: 900;
  list-style-type: none;
  padding-top: 15px;
  padding-left: 10%;
}

li:nth-child(1),
li:nth-child(7) {
  padding-top: 40px;
}


/* Top Navbar */

.top-navbar {
  background-color: var(--gray-1);
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  z-index: 2;
}

.top-navbar input {
  background-color: var(--gray-2);
  font-size: 1.17rem;
  height: 30px;
  border-radius: 15px;
  border: var(--border);
  width: clamp(100px, 90%, 600px);
  padding-left: 20px;
  padding-right: 10px;
}

.top-navbar input:hover {
  border: 2px solid var(--primary);
}

.search-bar {
  display: grid;display: grid;
  grid-template-rows: 1fr 15%;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 10px;
  padding-left: 3vw;
  min-width: 340px;
}

.user-panel {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  gap: 25px;
  padding-right: 3vw;
}


/* Welcome Banner */

.welcome-banner {
  background-color: var(--gray-1);
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr max-content;
  padding-right: 3vw;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.212);
  z-index: 1;
}

.welcome-user {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr;
  padding-left: 3vw;
  align-self: start;
}

.welcome-user img {
  height: 80px;
  grid-row: 1 / span 2;
  margin-right: 15px;
  border: 2px solid var(--primary);
  border-radius: 40px;
  background-color: var(--primary);
}

.welcome-user p {
  font-weight: 900;
  align-self: end;
}

.welcome-user h2 {
  align-self: start;
}

.creator-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding-top: 10px;
  gap: 25px;
}

.creator-btns li {
  padding: 0;
  list-style-type: none;
}

.creator-btns button {
  background-color: var(--primary);
  font-weight: 900;
  font-size: 18px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
}

.creator-btns button:hover {
  background-color: var(--light-primary);
}

.creator-btns button:active {
  background-color: var(--primary);
  transform: scale(0.95);
  font-size: 1.05rem;
}


/* Content */

.content {
  background-color: var(--gray-2);
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  grid-template-columns: 1fr 350px;
  padding-left: 2vw;
}

.content p {
  color: var(--textcol-2);
}


/* Projects Area */

.main-content {
  display: grid;
  grid-template-rows: 25px 1fr;
  padding: 20px 0 5vh 0;
  gap: 10px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.project {
  background-color: var(--gray-1);
  border-left: 6px solid var(--secondary);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 15%;
  word-wrap: normal;
  padding: 30px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.212);
}

.project-text h4 {
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.content-icons {
  justify-self: flex-end;
}

.content-icons button {
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 3px;
  margin-left: 8px;
}

.content-icons button:hover {
  transform: scale(1.05);
  background-color: rgb(182, 182, 182);
}

.content-icons button:active {
  transform: scale(0.95);
  background-color: rgb(146, 146, 146);
}

/* Side Content Area */

.side-content {
  display: grid;
  grid-template-rows: 25px min-content 45px min-content;
  gap: 10px;
  padding: 20px 2vw 0 2vw;
}

.side-content h3:nth-child(3) {
  align-self: end;
}

.announcements-container h5 {
  font-size: 0.9rem;
}

.announcements-container {
  font-size: 14px;
  padding: 20px 25px;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  align-items: center;
}

.announcement {
  padding: 10px 10px;
}

.announcement:not(:nth-child(3)) {
  border-bottom: 1.5px solid var(--gray-3);
}

.trending-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
  padding: 20px 30px;
}

.announcements-container,
.trending-container {
  background-color: var(--gray-1);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.212);
}

.trending-profile {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 15px;
  align-items: center;
}

.profile-info p:nth-child(1) {
  font-weight: 900;
  color: var(--textcol-1);
}